<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model with Facroties">


    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.entse.errorcollectors.TestListenerAdapter"/>
        <listener class-name="com.entse.listeners.CustomListeners"/>

    </listeners>


    <test name="SignIn Test">
        <classes>
            <class name="com.entse.testcases.SignInTest" />
        </classes>
    </test> <!-- Test -->

    <test name="Flight Search Test">
        <classes>
            <class name="com.entse.testcases.FlightSearchTest" />
        </classes>
    </test> <!-- Test -->





</suite> <!-- Suite -->
